<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Saved on Thu Feb 26 07:31:36 UTC 2026</comment>
<entry key="database.api.enabled">true</entry>
<entry key="mongo.enabled">true</entry>
<entry key="standalone.access.log">/tmp/ords_access_logs/</entry>
<entry key="standalone.static.path">/opt/oracle/apex/images</entry>
</properties>
